<html lang="en" dir="ltr">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald" />
        <link type="text/css" rel="stylesheet" href="/css/style.css">
        <script type="text/javascript" src="client.js"></script>
        <title></title>
        <link rel="stylesheet" type="text/css" href="bootstrap.css">	
    </head>

<body id="Fbody" class= "body"> 
		<% if (!currentuser) { %>                         
            <% }else { %>            
            <div class="log_out">
                <a href="#">Welcome  <%= currentuser.username %>  | </a>
                <a href = "/logout"> Log out </a> 
            </div>                            
        <% } %> 

        <nav>
            <div id="dmswitch">Dark_Mode<br/>
                <label class="switch">
                    <input type="checkbox" id="Input" value="OFF" >
                    <span class="slider round"></span>
                </label>
            </div>
          
            <label for="drop" class="toggle" >Menu</label>
            <input type="checkbox" id="drop" />
            <ul class="menu" >
                 <% if (!currentuser) { %>
                <li><a href="/" >HOME</a></li>                
                <li><a href="/RELATIONSHIP_ISSUES" >RELATIONSHIP ISSUES</a></li>
                <li><a href="/CONTACT_US" >CONTACT US</a></li>                
                <% }else { %>
                <li><a href="/" >HOME</a></li>  
                <li><a href="/QUIZZ" >QUIZ</a></li>              
                <li><a href="/RELATIONSHIP_ISSUES" >RELATIONSHIP ISSUES</a></li>                
                <li><a href="/CONTACT_US" >CONTACT US</a></li>                
                <% } %> 
            </ul>
        </nav>
         
        <div class="flexbox-container" >
            <div id="ML" class="Item_In_Middle_Of_Page Item_InMiddlePage_LeftSide" >                
                <div class="Item_Inside_InMiddlePage_LeftSide">
                    <P>user name : <a href="#"> <%= currentuser.username %> </a></P>
                    <p>user email: <a href="#"> <%= currentuser.email %> </a> </p>
                    <p>user loved one email : <a href="#">  <%= currentuser.loved_one_email %> </a> </p>
                    <p>Words of affirmation score : <a href="#">  <%= currentuser.words_of_affirmation %> </a> </p>
                    <p>Acts of service score : <a href="#">  <%= currentuser.acts_of_service %> </a> </p>
                    <p>Receiving gifts score :<a href="#"> <%= currentuser.receiving_gifts %> </a> </p>
                    <p>Quality time score :<a href="#">  <%= currentuser.receiving_gifts %> </a> </p>
                    <p>Physical touch score :<a href="#">  <%= currentuser.receiving_gifts %> </a> </p>                                       
                </div>
            </div>           
        </div>       

        <div id="footer"></div>
        <!-----------------Dark Mode----------------------->
        <script>
            document.getElementById("Input").addEventListener("click",function(event){
                if(document.getElementById("Input").value == "OFF")
                {
                    document.getElementById("Input").value = "ON"
                    document.getElementById("ML").style.backgroundColor = "black";
                    document.getElementById("MB1").style.backgroundColor = "black";
                    document.getElementById("MB2").style.color = "white";
                    document.getElementById("Fbody").style.backgroundColor = "black";
                }
                else if(document.getElementById("Input").value == "ON")
                {
                    document.getElementById("Input").value = "OFF"
                    document.getElementById("ML").style.backgroundColor = "#778899";
                    document.getElementById("Fbody").style.backgroundColor = "#e6e6e6";
                    document.getElementById("MB1").style.backgroundColor = "#e6e6e6";
                    document.getElementById("MB2").style.color = "black";
                }
            });
        </script>      
    </body>
</html>


